/*Vertical Nav*/
.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
  }

  .vertical-nav.active {
    margin-left: -17rem;
  }

  /*Content*/
  .page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
  }

  .page-content.active {
    width: 100%;
    margin: 0;
  }
  
  /*Display*/
  @media (max-width: 768px) {
    /**/
    .vertical-nav {
      margin-left: -17rem;
    }

    .vertical-nav.active {
      margin-left: 0;
    }

    /*Content*/
    .page-content {
      width: 100%;
      margin: 0;
    }

    .page-content.active {
      margin-left: 17rem;
      width: calc(100% - 17rem);
    }
  }