@page
@model Parqueadero.App.Frontend.Pages.VerVehiculoModel
@using Parqueadero.App.Dominio
@{
}

<!--Navbar-->
<nav class="navbar navbar-dark bg-primary shadow">
    <a class="navbar-brand" asp-page="/Home">Parqueadero</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-white" asp-page="/Index">Cerrar sesión</a>
        </li>
    </ul>
</nav>

<section>
    <div class="container bg-white my-4 p-4 shadow">
        <header class="text-center text-primary mb-4">
            <h1>Editar Vehiculo</h1>
        </header>
        <form method="POST">
            <input hidden asp-for="vehiculo.id"/>
            <div class="form-group">
                <label asp-for="propietarioId">Propietario</label>
                <select class="form-control" asp-for="propietarioId" asp-items="@Model.propietarios"></select>
                <span class="text-danger" asp-validation-for="propietarioId"></span>
            </div>
            <div class="row">
                <div class="col form-group">
                    <label asp-for="vehiculo.placa">Placa</label>
                    <input class="form-control" asp-for="vehiculo.placa" type="text" placeholder="Placa" required>
                    <span class="text-danger" asp-validation-for="vehiculo.placa"></span>
                </div>
                <div class="col form-group">
                    <label asp-for="vehiculo.color">Color</label>
                    <input class="form-control" asp-for="vehiculo.color" type="text" placeholder="Color" required>
                    <span class="text-danger" asp-validation-for="vehiculo.color"></span>
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <label asp-for="vehiculo.marca">Marca</label>
                    <input class="form-control" asp-for="vehiculo.marca" type="text"  placeholder="Marca" required>
                    <span class="text-danger" asp-validation-for="vehiculo.marca"></span>
                </div>
                <div class="col form-group">
                    <label asp-for="vehiculo.modelo">Modelo</label>
                    <input class="form-control" asp-for="vehiculo.modelo" type="text"  placeholder="Modelo">
                    <span class="text-danger" asp-validation-for="vehiculo.modelo"></span>
                </div> 
            </div>
            <div class="form-group">
                <label asp-for="tipoVehiculoId">Tipo Vehiculo</label>
                <select class="form-control" asp-for="tipoVehiculoId" asp-items="@Model.tipoVehiculos"></select>
            </div>
            <div class="form-group">
                <label asp-for="vehiculo.observaciones">Observaciones</label>
                <textarea class="form-control" asp-for="vehiculo.observaciones" row="5" placeholder="Observaciones"></textarea>
                <span class="text-danger" asp-validation-for="vehiculo.observaciones"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Actualizar información</button>
            </div>
        </form>
    </div>
</section>