@page
@model Parqueadero.App.Frontend.Pages.CrearPropietarioModel
@using Parqueadero.App.Dominio
@{
}

<div class="container my-3 p-4 shadow" style="max-width: 680px">
    <header class="mb-4 text-primary text-center">
        <h1>Crear Propietario</h1>
    </header>
    <form method="POST">
        <div class="row">
            <div class="col form-group">
                <input class="form-control" asp-for="propietario.nombre" type="text"  placeholder="Nombre">
                <span class="text-danger" asp-validation-for="propietario.nombre"></span>
            </div>   
            <div class="col form-group">
                <input class="form-control" asp-for="propietario.apellidos" type="text" placeholder="Apellidos">
                <span class="text-danger" asp-validation-for="propietario.apellidos"></span>
            </div> 
        </div>
        <div class="row">
            <div class="col form-group">
                <input class="form-control" asp-for="propietario.identificacion" type="text" placeholder="Identificación">
                <span class="text-danger" asp-validation-for="propietario.identificacion"></span>
            </div>
            <div class="col form-group">
                <input class="form-control" asp-for="propietario.fechaNacimiento" type="date" placeholder="Fecha de nacimiento">
                <span class="text-danger" asp-validation-for="propietario.fechaNacimiento"></span>
    
            </div>
        </div>
        <div class="row">
            <div class="col form-group">
                <input class="form-control" asp-for="propietario.direccion" type="text" placeholder="Dirección">
                <span class="text-danger" asp-validation-for="propietario.direccion"></span>
            </div>  
            <div class="col form-group">
                <input class="form-control" asp-for="propietario.telefono" type="text" placeholder="Teléfono">
                <span class="text-danger" asp-validation-for="propietario.telefono"></span>
            </div> 
        </div>
        <div class="form-group">
            <input class="form-control" asp-for="propietario.correo" type="email" placeholder="Correo electrónico">
            <span class="text-danger" asp-validation-for="propietario.correo"></span>
        </div>
        <div class="row">
            <div class="col form-group">
                <input class="form-control" asp-for="propietario.clave" type="password" placeholder="Contraseña">
                <span class="text-danger" asp-validation-for="propietario.clave"></span>
            </div> 
            <div class="col form-group">
                <input class="form-control" type="password" placeholder="Confirmar Contraseña">
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-block btn-primary" type="submit">Crear Cuenta</button>
            <a class="btn btn-block btn-link" asp-page="../Index">Ya Tengo Cuenta</a>
        </div>
    </form>
</div>